<div th:fragment="sidebar">
    <link rel="stylesheet" th:href="@{/css/admin/admin-sidebar.css}">
    <div class="sidebar">
        <div class="sidebar-header">
            <h2>ANKIM-CONNECT</h2>
        </div>
        <ul class="menu-list">
            <li><a href="#">대시보드</a></li>
            <li><a href="#">상품</a></li>
            <li><a href="#">주문/배송</a></li>
            <li><a href="#">규제</a></li>
            <li><a href="#">문의/리뷰</a></li>
            <li><a href="#">정산</a></li>
            <li><a href="#">쿠폰</a></li>
            <li><a href="#">톡톡</a></li>
            <li><a href="#">계약</a></li>
        </ul>
    </div>
</div>
