<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 탈퇴</title>
    <link rel="stylesheet" th:href="@{/css/mypage/mypageUtils.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/leave.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<header th:replace="/fragments/header :: header"></header>
<th:block th:replace="mypage/mypageUtils.html :: main">
    <th:block th:fragment="content">
    <section class="leave-section" id="leaveSection" style="display: none;">
        <h2>탈퇴하는 이유가 무엇인가요?</h2>
        <p>아래의 사유 중 하나를 선택하여 회원 탈퇴를 진행하실 수 있습니다.</p>
        <div id="leaveReasonList">
            <!-- 이곳에 API로 받은 탈퇴 사유가 렌더링됩니다 -->
        </div>
        <div class="button-row">
            <button id="leaveCancelBtn" class="submitBtn">취소하기</button>
            <button id="leaveNextBtn" class="submitBtn">다음</button>
        </div>
    </section>
</th:block>
</th:block>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
<script type="module" th:src="@{/js/mypage/leave.js}"></script>
<script type="module" th:src="@{/js/mypage/mypageUtils.js}"></script>
<script type="module" th:src="@{/js/fragments/header.js}"></script>
</html>