/* Reset */
body, h1, p, ul, li, label, input, button, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* 헤더 설정 */
header {
    background-color: #f8f8f8;
    padding: 10px 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}