<footer th:fragment="footer-container" class="footer-container">
    <div class="customer-center">
        <h3>고객 센터 1644-0560</h3>
        <p>운영시간 : 평일 09:00 ~ 18:00 (점심시간 12:00 ~ 13:00 제외)</p>
        <div class="customer-links">
            <a href="https://order.29cm.co.kr/my-order/cscenter/faq">FAQ</a>
            <a href="https://order.29cm.co.kr/my-order/cscenter/qna/qna-mantoman-list">1:1 문의</a>
        </div>
    </div>
    <div class="footer-links">
        <section id="notice-section">
            <h4>NOTICE</h4>
            <ul>
                <li><a href="#">[공지] 개인정보 처리방침 개정 예정 안내 (시행일: 2024년 10월 23일)</a></li>
                <li><a href="#">[공지] 개인정보 처리방침 개정 예정 안내 (시행일: 2024년 10월 10일)</a></li>
                <li><a href="#">[공지] 개인정보 처리방침 개정 예정 안내 (시행일: 2024년 9월 23일)</a></li>
                <li><a href="#">[공지] 안전거래센터 오픈 안내</a></li>
                <li><a href="#">[공지] 현대카드 2% 청구 할인 프로모션 종료 안내</a></li>
            </ul>
        </section>
        <section>
            <h4>ABOUT US</h4>
            <ul>
                <li><a href="#">29CM 소개</a></li>
                <li><a href="#">인재채용</a></li>
                <li><a href="#">상시 할인 혜택</a></li>
            </ul>
        </section>
        <section>
            <h4>MY ORDER</h4>
            <ul>
                <li><a href="#">주문배송</a></li>
                <li><a href="#">취소/교환/반품 내역</a></li>
                <li><a href="#">상품리뷰 내역</a></li>
                <li><a href="#">증빙서류발급</a></li>
            </ul>
        </section>
        <section>
            <h4>MY ACCOUNT</h4>
            <ul>
                <li><a href="#">회원정보수정</a></li>
                <li><a href="#">회원등급</a></li>
                <li><a href="#">마일리지현황</a></li>
                <li><a href="#">쿠폰</a></li>
            </ul>
        </section>
        <section>
            <h4>HELP</h4>
            <ul>
                <li><a href="#">1:1 문의</a></li>
                <li><a href="#">마케팅 제휴, 입점, 대량 주문 문의</a></li>
                <li><a href="#">상품 Q&amp;A내역</a></li>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">고객의 소리</a></li>
            </ul>
        </section>
    </div>
    <div class="footer-info">
        <p>상호명 : (주)안킴</p>
        <p>사업장소재지 : 서울특별시 성동구 아차산로 13길 11, 1층 (성수동2가, 안킴캠퍼스 엔1)</p>
        <p>팩스 : 070-8622-7737</p>
        <p>사업자등록번호 : 211-88-79575</p>
        <p>통신판매업신고 : 2022-서울성동-01952 <a href="#">사업자정보확인</a></p>
        <p>전화번호 : 1644-0560</p>
        <p>이메일 : <a href="mailto:customer@ankim.co.kr">customer@ankim.co.kr</a></p>
        <p>대표이사 : 안정훈, 김경식</p>
        <p>개인정보 보호책임자 : 남궁성</p>
        <p>호스팅서비스 : (주)안킴</p>
    </div>
</footer>